# Follow symbolic links, it is require in some server
Options	+FollowSymLinks

# Set default rewrite destination
DirectoryIndex	index.php

# Process URL rewrite
<IfModule	mod_rewrite.c>
	RewriteEngine on
	
	RewriteBase	/
	
	# Disable hotlinking
	RewriteCond %{HTTP_REFERER} !^$
	RewriteCond %{HTTP_REFERER} !^http://(www.)?iqac.is-great.net(/)?.*$ [NC]
	
	# Direct access for assets, robots.txt, sitemap.xml
	RewriteRule	^(assets|robots\.txt|sitemap\.xml) - [L]
	
	RewriteRule	^(.*)$	index.php?page=$1	[QSA,L]
</IfModule>
