<?
// Rename this file to `config.php` after finish configuration

ini_set('display_errors',1);
ini_set('default_charset', 'UTF-8');

// Google OAuth Setup
$OAUTH2_CLIENT_ID = 'Your CLIENT ID';
$OAUTH2_CLIENT_SECRET = 'YOUR CLIENT SECRET';

// Database Setup
// Change the following to setup for database
$db = mysqli_connect('DB HOST','DB USER','DB PASSWORD','DB NAME');
if (!$db) {
    echo "Debugging errno: " . mysqli_connect_errno() . PHP_EOL;
    echo "Debugging error: " . mysqli_connect_error() . PHP_EOL;
    die("Error: Unable to connect to MySQL.");
}

// Menu for each user role (optional to configure)
$MENUS = array(
	'JUDGE_DEFAULT' => array(
		'Contests' => '/',
		'Create Contest' => '/editContest',
		'Logout' => '/auth' 
	),
	'JUDGE_CONTEST' => array(
		'ScoreBoard' => '/',
		'Submissions' => '/submissions',
		'Questions' => '/questions',
		'Edit' => '/editContest',
		'Exit' => '/?contest=exit',
		'Logout' => '/auth'
	),
	'PARTICIPANT' => array(
		'ScoreBoard' => '/',
		'Questions' => '/questions',
		'Submissions' => '/submissions',
		'Logout' => '/auth'
	)
);
?>
