body{ color: #888; }
footer{ text-align: center; }
a{
	color: #0fa3a8;
	text-decoration: none;
}
img {
	display: inline;
	vertical-align: middle;
	padding: 0px 8px 0px 8px;
}

.menu-wrapper {
	font-size: 20px;
	border-bottom: 2px solid #ddd;
}
.panel{ margin: 10px; }
.large-button{
	font-size: 250%;
	margin: 10px;
	font-weight: bold;
}
.table-responsive {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

